// spacing
@mixin margin-bottom($multiplier) {
  margin-bottom: ($spacing-bottom * $multiplier);
}

@mixin padding-top($multiplier) {
  padding-top: ($spacing-top * $multiplier);
}

@mixin padding-bottom($multiplier) {
  padding-top: ($spacing-bottom * $multiplier);
}


// container
@mixin container {
  position: relative;
  width: 100%;
  max-width: $container-max-width;
  padding: 0 $container-gutter;
  margin: 0 auto;
}


// clearfix
@mixin clearfix {
  overflow: hidden;
  *zoom: 1;
}

// center anything
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
