// normalize
$legacy_support_for_ie: false !default;

// @mixin container
$container-max-width: 1100px;
$container-gutter: 50px;

// layout
$sidebar-width: 320px;

// media queries
$mq-sm : 500px !default;
$mq-md : 800px !default;

// spacing
$spacing-top: 25px;
$spacing-right: 25px;
$spacing-bottom: 25px;
$spacing-left: 25px;
