@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,100,200,300,500,600,700,800);

@font-face {
  font-family: 'icon';
  src: url('../fonts/icon/BoulderingGuides.eot');
  src: url('../fonts/icon/BoulderingGuides.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icon/BoulderingGuides.woff') format('woff'),
       url('../fonts/icon/BoulderingGuides.ttf')  format('truetype'),
       url('../fonts/icon/BoulderingGuides.svg#6d0cf1e502c2b43b9e9ba52cd55b6bd7') format('svg');

  font-style:   normal;
  font-weight:  400;
}
