////////////////////
// Normalizing styles
////////////////////
button, input, select, textarea {
	margin: 0;
	vertical-align: middle;
}

button, input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0; border: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"] + label,  input[type="radio"] + label {
	display: inline;
	float: none;
	width: auto;
}

input[type="radio"] ul li label {
	display: inline;
	float: none;
	width: auto;
	font-weight: normal;
}

// Removes the red outline
input:invalid {
   -moz-box-shadow: none !important;
}


////////////////////
// Form Elements
////////////////////
form {
	width: 100%;
	max-width: $form-max-width;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
  }
}

label, legend {
	margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}


////////////////////
// Inputs
////////////////////
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="datetime-local"],
input[type="number"],
input[type="tel"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="search"],
input[type="file"],
input[type="range"],
input[id="text_inline"],
textarea, {
	@include appearance(none);
	width: 100%;
	max-width: $input-max-width;
	height: 40px;
	font-family: $paragraph-font-family;
	font-size: 18px;
	font-weight: 300;
	background: transparent;
  color: white;
	border: 1px solid $input-placeholder;
	padding: 0 15px;
	outline: 0;
	margin-bottom: 25px;
}


////////////////////
// Textarea
////////////////////
textarea {
	min-height: 200px;
  max-width: $input-max-width + 50px;
	padding-top: 10px;
	margin-bottom: 25px;
}


////////////////////
// Button
////////////////////
input[type="submit"] {
	@include appearance(none);
  border: 1px solid white;
  font-weight: 300;
  font-size: 14px;
  color: white;
  padding: 20px 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}


////////////////////
// Validation
////////////////////
input:valid, textarea:valid {
	background-color: transparent;
}
