// For image replacement
%ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;

  br {
    display: none;
  }
}

// When you dont want links clickable
%dead-link { pointer-events: none; }

// Hide from both screenreaders and browsers: h5bp.com/u
%hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
%visuallyhidden.focusable:active,
%visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Hide visually and from screenreaders, but maintain layout
%invisible { visibility: hidden; }

// ==================================================
// clearing
// ==================================================
// You can also use a <br class="clear" /> to clear columns
%clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

// Use clearfix class on parent to clear nested columns, or wrap each row of columns in a <div class="row">
%clearfix:before,
%clearfix:after,
%row:before,
%row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

// ==================================================
// basic alignment
// ==================================================
%float-left    { float:left }
%float-right   { float:right }

// from the wysiwyg
.alignleft     { float: left; margin: 20px 20px 20px 0;}
.aligncenter   { text-align: center; clear: both; margin: 20px auto; display: block;}
.alignright    { float: right; margin: 20px 0px 20px 20px;}
.alignnone     { margin: 20px 20px 20px 20px;}

.center        { margin: 0 auto }


// ==================================================
// text alignment
// ==================================================
%text-left    { text-align:left }
%text-right   { text-align:right }
%text-center  { text-align:center }
%text-justify { text-align:justify }
%underline    { text-decoration:underline }
%highlight    { background-color:#ffc }


// ==================================================
// remove order/unordered list styling
// ==================================================
._not-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
