table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font-size: $p-size;
  border: 8px solid $bg-body; // Faux padding
  margin-bottom: 30px;
  clear: both;

  section.row & {
  	margin-bottom: 0;
  }

  p {
  	font-size: $p-size;
  }

	th {
	    color: $p-text;
	    font-weight: bold;
	    padding: 6px 8px;
	    text-transform: uppercase;
	}

	td {
	    border-top: 1px dotted $rule;
	    color: $p-text;
	    padding: 6px 8px;
	}

	p {
		margin-bottom: 0;
	}
}

/////////////////////
// Special Classes
/////////////////////
// Zebra stripping
table.zebra {
	td {
		border: 0;
	}

	tbody tr:nth-child(odd) {
   background-color: #ccc;
	}
}

table.dark.zebra {
	td {
		border: 0;
	}

	tbody tr:nth-child(odd) {
   background-color: $bg-body;
	}
}

// Dark table
table.dark {
	border: 8px solid #ccc;
	background: #ccc;
}

// Alignment of values
table.center-first {
	td:first-child, th:first-child {
		text-align: center;
	}
}

table.center-2nd {
	td:nth-child(2n), th:nth-child(2n) {
		text-align: center;
	}
}

table.center-3rd {
	td:nth-child(3n), th:nth-child(3n) {
		text-align: center;
	}
}

table.center-4th {
	td:nth-child(4n), th:nth-child(4n) {
		text-align: center;
	}
}

table.center-last {
	td:last-child, th:last-child {
		text-align: center;
	}
}

///////////////////////////
// Responsive Data Tables
///////////////////////////
@include lt-small {
	table {
		display: block;
		position: relative;
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;

		th,
		td {
			display: block;
			margin: 0;
			vertical-align: top;
			text-align: left;
		}

		td {
			min-height: 1.25em;
		}

		thead {
			display: block;
			float: left;
			max-width: 50%;
			padding-right: 5px;

			tr, tr p {
				display: block;
				font-size: 14px;
			}
		}

		tbody {
			display: block;
			width: auto;
			position: relative;
			overflow-x: auto;
			white-space: nowrap;

			tr {
				display: inline-block;
				vertical-align: top;
			}

			th, th p {
				font-size: 14px;
			}
		}

		// borders
		th { border-bottom: 0; border-left: 0; }
		td { border-left: 0; border-right: 0; border-bottom: 0; }
		tbody tr { border-left: 1px solid $rule; }
		th:last-child,
		td:last-child { border-bottom: 1px solid $rule; }
	}


	// Fix header alignment
	table.center-first {
		td:first-child, th:first-child {
			text-align: left;
		}
	}

	table.center-2nd {
		td:nth-child(2n), th:nth-child(2n) {
			text-align: left;
		}
	}

	table.center-3rd {
		td:nth-child(3n), th:nth-child(3n) {
			text-align: left;
		}
	}

	table.center-4th {
		td:nth-child(4n), th:nth-child(4n) {
			text-align: left;
		}
	}

	table.center-last {
		td:last-child, th:last-child {
			text-align: left;
		}
	}
}