// ==================================================
// headings
// ==================================================
h1, h2, h3, h4, h5, h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
	font-family: $headline-font-family;
	font-weight: normal;
	line-height: 1.2;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
%h1 a, %h2 a, %h3 a, %h4 a, %h5 a, %h6 a {
	font-weight: inherit;
}

h1, %h1 {
	font-size: $h1-size;
	color: $h1-text;
	margin-bottom: 14px;

	a {
		color: $h1-link;

		&:hover {
			color: $h1-link-hover;
		}
	}
}

h2, %h2 {
	font-size: $h2-size;
	line-height: 1.05;
	color: $h2-text;
	margin-bottom: 10px;
	font-weight: 100;

	a {
		color: $h2-link;

		&:hover {
			color: $h2-link-hover;
		}
	}

	& + img.alignright,
	& + img.alignleft,
	& + img.alignnone,
	& + img.aligncenter {
		margin-top: 0px;
	}

	& + img + p {
		margin-top: 0px;
	}
}

h3, %h3 {
	font-size: $h3-size;
	color: $h3-text;
	margin-bottom: 8px;
	font-weight: 300;

	@include gt-med {
		font-size: $h3-size * 1.25;
	}

	a {
		color: $h3-link;

		&:hover {
			color: $h3-link-hover;
		}
	}

	& + img.alignright,
	& + img.alignleft,
	& + img.alignnone,
	& + img.aligncenter {
		margin-top: 10px;
	}
}

h4, %h4 {
	font-size: $h4-size;
	color: $h4-text;
	margin-bottom: 10px;
	font-weight: 300;

	a {
		color: $h4-link;

		&:hover {
			color: $h4-link-hover;
		}
	}
}

h5, %h5 {
	font-size: $h5-size;
	color: $h5-text;
	margin-bottom: 10px;

	a {
		color: $h5-link;

		&:hover {
			color: $h5-link-hover;
		}
	}
}

h6, %h6 {
	font-size: $h6-size;
	color: $h6-text;
	margin-bottom: 10px;

	a {
		color: $h6-link;

		&:hover {
			color: $h6-link-hover;
		}
	}
}


// ==================================================
// content
// ==================================================
p, %paragraph {
	font-size: 18px;
	line-height: 1.6;
	color: $p-text;
	margin-bottom: 20px;

	img {
		margin: 0;
	}

	& + img.alignright,
	& + img.alignleft,
	& + img.alignnone,
	& + img.aligncenter {
		margin-top: 0px;
	}
}

hr {
	clear: both;
	height: 0;
	border: 0;
	border: 1px solid $rule;
	border-top: 1px solid $rule;
	margin: 10px 0 10px;
}

code, pre {
	font-size: 15px;
}

blockquote {
	@include margin-bottom(1);
  border-left: 10px solid white;
  padding: 20px 5px 20px 35px;
  font-style: italic;

  @include lt-small {
  	margin-left: 0;
  	padding-left: 15px;
  }

	p {
	  font-size: 20px;
	  line-height: 1.2;
	  display: inline;

	  @include gt-small {
		  font-size: 24px;
	  }

  	&:last-child {
  		margin-bottom: 0;
  	}
  }

  cite {
  	display: block;
  	text-align: right;
  	padding-top: 15px;
  	text-transform: uppercase;
  	font-style: normal;
  	font-weight: 400;
  }
}


figure, %figure {
	@include margin-bottom(1);
  display: table; // In order for caption to = img width

  img {
  	width: 100%;
  }

  @include gt-small {
	  &.float-right {
	  	margin: $image-float-margin 0 $image-float-margin $image-float-margin;
	  }

	  &.float-left {
	  	margin: $image-float-margin $image-float-margin $image-float-margin 0;
	  }
	}

	@include lt-small {
		width: 100% !important;

		&.float-right,
		&.float-left {
			display: block;
			float: none;
			margin: 0;
			@include margin-bottom(1);
		}
	}
}

figcaption, figcaption p,
%figcaption, %figcaption p {
	width: 100%;
	font-size: $figcaption-size;
	line-height: 1.2;
	color: $figcaption-color;
	padding: 20px;
	border: 1px solid $rule;
	border-top: 0;
	margin-top: -27px;
}

address, %address {
	font-size: $p-size;
	line-height: 1.6;
	color: $p-text;
	margin-bottom: 20px;
}

// ==================================================
// lists
// ==================================================
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

ol {
	list-style: decimal;
}

ol, ul, ul.square, ul.circle, ul.disc {
	margin-left: 30px;
}

ul.none {
	list-style: none;
}

ul.square {
	list-style: square outside;
}

ul.circle {
	list-style: circle outside;
}

ul.disc {
	list-style: disc outside;
}

ul ul, ul ol, ol ol, ol ul {
	margin: 4px 0 5px 30px;
}

ul ul li, ul ol li, ol ol li, ol ul li {
	margin-bottom: 6px;
}

article {
	ul li, ol li {
		font-size: $p-size;
		line-height: 1.6;
		color: $p-text;
	}

	ul, ol {
		margin: 0 0 20px 20px;
	}
}

dl dt {
	font-size: $p-size;
	font-weight: bold;
	line-height: 1.2;
}

dl dd {
	margin: 0 0 10px 0;
	font-size: $p-size - 2px;
	line-height: 1.4;
}


// ==================================================
// links
// ==================================================
a, a:visited {
	color: $link;
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus {
	color: $link-hover;
	text-decoration: none;
}

p a, p a:visited {
	line-height: inherit;
}

section.spray,
section.fa {
	article {
		a {
			font-weight: bold;
		}
	}
}


// ==================================================
// text level semantics
// ==================================================
em, i {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

small {
	font-size: 1.1em;
}

cite {
	font-size: $p-size - 2px;
}

sub, sup {
	font-size: .7em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


// ==================================================
// embedded content
// ==================================================
img, iframe, object {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	border: 0;
}

.wp-caption {
	font-size: $p-size - 2px;
	font-style: italic;
	padding-top: 5px;
}

.btn {
	border: 1px solid white;
  padding: 20px;

	.mini-guides &,
  .area__single--detail & {
  	display: block;
  	width: 100%;
  	text-align: center;
  }
}
