.row.banner {
  position: relative;
  width: 100%;
}

img.banner__image {
  margin: 30px 0;
  width: 100%;
  height: auto;
}

.banner__caption {
  position: absolute;
  right: 0;
  bottom: 46px;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  background: white;
  padding: 15px 20px;
}
