.breadcrumb {
  @include gt-sm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.breadcrumb__item {
  display: block;
  font-size: 15px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 10px 5px;
  border: 2px solid $background-body;
  margin: 0 16px;
  margin-bottom: 15px;

  @include gt-sm {
    display: inline-block;
    border: 0;
    border-top: 2px solid $background-body;
    border-bottom: 2px solid $background-body;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  span {
    font-family: sans-serif;
  }
}

.breadcrumb__item-current {
  border-color: black;
}

.breadcrumb__item-close {
  border: 2px solid black;
  cursor: pointer;

  &:hover {
    color: $background-body;
    background: black;
    border: 2px solid black;
  }

  a:hover {
    color: $background-body;
  }
}
