/*doc
---
title: Button
name: Button
category: Components - Button
---
```html_example
<a class='btn' href='http://google.com'>Fun Button</a>
<a class='btn btn-border' href='http://google.com'>Fun Button</a>
```
*/

.btn,
.btn:visited {
  transition: all ease .2s;
  @include border-radius(4px);
  display: inline;
  padding: 10px 25px !important;
  line-height: 1;
  color: $pa_dk_blue;
  text-align: center;
  background: #D8D8D8;
  border: 2px solid #D8D8D8;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px;
  text-decoration: none;
}

.btn:hover,
.btn.active {
  color: #D8D8D8;
  background: $pa_dk_blue;
  border: 2px solid #D8D8D8;
}
