@font-face {
  font-family: 'icon';
  src: url('../fonts/icon/BoulderingGuides.eot');
  src: url('../fonts/icon/BoulderingGuides.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icon/BoulderingGuides.woff') format('woff'),
       url('../fonts/icon/BoulderingGuides.ttf')  format('truetype'),
       url('../fonts/icon/BoulderingGuides.svg#6d0cf1e502c2b43b9e9ba52cd55b6bd7') format('svg');

  font-style:   normal;
  font-weight:  400;
}

// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('../fonts/brandon/Brandon_bld_it.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/brandon/Brandon_bld_it.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/brandon/Brandon_bld_it.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/brandon/Brandon_bld_it.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/brandon/Brandon_bld_it.svg#8853aab46fdf0d89da10dcad4b5b2854') format('svg'); /* Legacy iOS */
//   font-style:   italic;
//   font-weight:  700;
// }

// @font-face {
//   font-family: 'Brandon Grotesque';
//   src: url('../fonts/brandon/Brandon_bld.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/brandon/Brandon_bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/brandon/Brandon_bld.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/brandon/Brandon_bld.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/brandon/Brandon_bld.svg#41e76bd6e414417d52adb646f262964a') format('svg'); /* Legacy iOS */

//   font-style:   normal;
//   font-weight:  700;
// }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_blk.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_blk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_blk.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_blk.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_blk.svg#31abb7704a87130091ce57face358af8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_blk_it.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_blk_it.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_blk_it.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_blk_it.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_blk_it.svg#db83a1450782399269807c88b8666559') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  900;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_med_it.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_med_it.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_med_it.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_med_it.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_med_it.svg#92e058ad2c8b7fdb0d548f9134d3b780') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_med.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_med.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_med.svg#42e0c7c233eb5259e2b1a7ec7e16d4ce') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_reg_it.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_reg_it.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_reg_it.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_reg_it.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_reg_it.svg#5b66f4dd45758b9d91167d61a1cb4622') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_reg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_reg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_reg.svg#50bf5a2005a5412419d6a4b30314e68e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_light_it.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_light_it.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_light_it.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_light_it.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_light_it.svg#936f6afb2e497552c3bbf70f0e7bab71') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('Brandon_light.eot'); /* IE9 Compat Modes */
  src: url('Brandon_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_light.svg#354fd4633228a7e3ae69c73de8c58871') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_thin_it.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_thin_it.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_thin_it.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_thin_it.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_thin_it.svg#c83519e7c8183198956286b9d71a7129') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  100;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon/Brandon_thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon/Brandon_thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/brandon/Brandon_thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon/Brandon_thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon/Brandon_thin.svg#f3bea398ccb855d0bbe223827583f0b1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}
