.hero .hero__item .owl-item {
  padding: 0;
}

.hero {
  margin-bottom: -10px;

  .owl-controls {
    width: 100%;
    position: absolute;
    bottom: 25px;
  }

  .owl-theme .owl-controls .owl-page span{
    width: 65px;
    height: 6px;
    margin: 5px 7px;
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: white;
  }

  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    background: $pa_pink;
  }
}
