/*doc
---
title: Links
name: Links
category: Components - Links
---
```html_example
<a href='http://google.com'>Google</a>
```
*/

a, a:visited {
  color: $link-color;
  text-decoration: underline;
  outline: 0;
}
a:hover, a:focus {
  color: $link-color-hover;
  text-decoration: none;
}

p a, p a:visited {
  line-height: inherit;
}
