/*doc
---
title: Unordered Lists
name: Unordered Lists
category: Components - Lists
---
```html_example
<ul class="list">
  <li>This is a list item</li>
  <li>This is a list item</li>
  <li>This is a list item</li>
</ul>
```
*/

/*doc
---
title: Ordered Lists
name: Ordered Lists
category: Components - Lists
---
```html_example
<ol class="list">
  <li>This is a list item</li>
  <li>This is a list item</li>
  <li>This is a list item</li>
</ol>
```
*/

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list li {
  position: relative;
  padding-left: 32px;

  &::before {
    content: '\2022';
    display: block;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 10px;
  }
}

ol.list {
  counter-reset: list;

  > li {
    position: relative;
    padding-left: 32px;

    &::before {
      counter-increment: list;
      content: "0" counter(list);
      font-weight: bold;
      color: inherit;
      display: inline-block;
      position: absolute;
      left: 0;
    }

    // This selected every adjacent <li>
    // from the 10th and overrides the
    // content property of each
    &:nth-child(10n) ~ li::before,
    &:nth-child(10n)::before {
      content: counter(list);
    }
  }
}

ul ol,
ol ul {
  padding-top: 0;
}
