// site logo
.logo {
  $logo_size: 45px;
  @extend %ir;
  position: absolute;
  top: 50px;
  right: 20px;
  display: block;
  z-index: 400;
  background: url(../images/logo.png) no-repeat;
  width: $logo_size;
  height: $logo_size;
  @include background-size($logo_size $logo_size);
  cursor: pointer;

  .page-template-mini-guides & {
    top: 20px;
  }

  .home & {
    @include gt-sm {
      $logo_size: 100px;
      top: 30px;
      right: 25px;
      width: $logo_size;
      height: $logo_size;
      @include background-size($logo_size $logo_size);
    }
  }

  .contact-is-visible & {
    display: none;
  }
}
