#areas__map {
  position: relative;
  height: 400px;
  background-color: #e0e6da !important; //override google inline
  transition: all 0.4s;
  box-shadow: 0 0 20px rgba(black, 0.3);

  .areas__map--expanded & {
    height: 85vh;
  }
}

.expand-areas__map {
  cursor: pointer;
}

.expand-areas__map {
  position: absolute;
  display: block;
  transform: translateY(-25px);
  left: 25px;
  @extend %ir;
  width: 55px;
  height: 55px;
  background: url(../images/revealer-down-pink.png) no-repeat;
  background-size: 55px 55px;
  cursor: pointer;
  z-index: 9998;

  .areas__map--expanded & {
    background: url(../images/revealer-up-pink.png) no-repeat;
    background-size: 55px 55px;
  }
}

.map-link-title {
  font-size: 14px;
  font-weight: 500;
}

.areas__item-rating.small {
  display: block;
  font-size: 10px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}
