// embedded content
img,
video,
object {
  max-width: 100%;
  height: auto;
}

// wp image alignment
.alignright {
  display: block;
  margin: 20px 0;

  @include gt-sm {
    float: right;
    margin: $spacing-top ($spacing-right * 0) $spacing-bottom $spacing-left;
  }
}

.alignleft {
  display: block;
  margin: 20px 0;

  @include gt-sm {
    float: left;
    margin: $spacing-top $spacing-right $spacing-bottom ($spacing-left * 0);
  }
}

.aligncenter {
  display: block;
  margin: 20px 0;

  @include gt-sm {
    text-align: center;
    clear: both;
    margin: 20px auto;
  }
}

.alignnone {
  margin: 20px 0;
}

// figures
figure, %figure {
  @include margin-bottom(1);
  display: table; // In order for caption to = img width

  img {
    width: 100%;
  }

  @include gt-sm {
    &.float-right {
      margin: $spacing-top ($spacing-right * 0) $spacing-bottom $spacing-left;
    }

    &.float-left {
      margin: $spacing-top $spacing-right $spacing-bottom ($spacing-left * 0);
    }
  }
}

// figure captions
figcaption, figcaption p,
%figcaption, %figcaption p {
  display: block;
  width: 100%;
  font-size: $figcaption-size;
  line-height: 1.2;
  background: $figcaption-color;
  padding: 20px;
  border-top: 0;
  margin-top: -7px;
}

// wp captions
.wp-caption {
  font-size: $p-font-size - 2px;
  font-style: italic;
  padding-top: 5px;
}
