/*doc
---
title: Typography
name: Typography
category: Typography
---
```html_example
<h1>HTML Ipsum Presents</h1>

<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>

<h2>Header Level 2</h2>

<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

<h3>Header Level 3</h3>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>

```
*/

h1, h2, h3, h4, h5, h6 {
	font-family: $headline-font-family;
	font-weight: 300;
	line-height: $heading-line-height;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

h1 {
	font-size: $h1_font_size;
	color: $h1-color;
	margin: $h1_margin;

	a,
	a:visited {
		color: $h1-link-color;

		&:hover {
			color: $h1-link-color-hover;
		}
	}
}

h2 {
	font-size: $h2_font_size;
	color: $h2-color;
	margin: $h2_margin;

	a,
	a:visited {
		color: $h2-link-color;

		&:hover {
			color: $h2-link-color-hover;
		}
	}

	& + img.alignright,
	& + img.alignleft,
	& + img.alignnone,
	& + img.aligncenter {
		margin-top: 0px;
	}

	& + img + p {
		margin-top: 0px;
	}
}

h3 {
	font-size: $h3_font_size;
	color: $h3-color;
	margin: $h3_margin;

	a,
	a:visited {
		color: $h3-link-color;

		&:hover {
			color: $h3-link-color-hover;
		}
	}

	& + img.alignright,
	& + img.alignleft,
	& + img.alignnone,
	& + img.aligncenter {
		margin-top: 10px;
	}
}

h4 {
	font-size: $h4_font_size;
	color: $h4-color;
	margin: $h4_margin;

	a,
	a:visited {
		color: $h4-link-color;

		&:hover {
			color: $h4-link-color-hover;
		}
	}
}

p {
	font-size: $p-font-size;
	font-weight: 400;
	line-height: 1.6;
	color: $p-color;
	margin-bottom: $spacing-bottom;

	img {
		margin: 0;
	}

	& + img.alignright,
	& + img.alignleft,
	& + img.alignnone,
	& + img.aligncenter {
		margin-top: 0px;
	}
}

hr {
	clear: both;
	height: 0;
	border: 0;
	border-top: 1px solid $rule;
	margin: 10px 0 10px;
}

code, pre {
	font-size: 15px;
}

blockquote {
	@include margin-bottom(1);
  background: lighten($rule, 85%);
  border-left: 10px solid $rule;
  padding: 20px 15px;

	p {
  display: inline;

  	&:last-child {
  		margin-bottom: 0;
  	}
  }

  cite {
  	display: block;
  	text-align: right;
  }
}

address, %address {
	font-size: $p-font-size;
	line-height: 1.6;
	color: $p-color;
	margin-bottom: 20px;
}

em, i {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

small {
	font-size: 1.1em;
}

cite {
	font-size: $p-font-size - 2px;
}

sub, sup {
	font-size: .7em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}
