.video-wrapper {
  @include margin-bottom(1);
  z-index: 9999;

  @include gt-md {
    margin-left: -100px !important;
    width: calc(100% + 200px) !important;
    height: auto;
  }
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
