._show-menu {
  section.menu {
    display: block;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

._blur-bg {
  .overlay {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
