// reveal with js
// top level zones
._show-areas section.areas,
._show-mini-guides section.mini-guides,
._show-areas section.area__single--detail aside,
._show-history section.history,
._show-spray section.spray,
._show-gossip section.gossip,
._show-fa section.fa {
  opacity: 1;
  display: block;
  height: calc(100% - 90px);
  visibility: visible;
  margin-top: 90px;
}

// hide areas when area detail is shown
._show-areas._show-problems {
  section.areas {
    height: 0px;
    visibility: hidden;
  }

  // show problems
  section._show-problems {
    opacity: 1;
    display: block;
    height: calc(100% - 90px);
    visibility: visible;
  }
}

._blur-bg section.hero,
._blur-bg .logo,
._blur-bg .video-controls,
._blur-bg .latest-spray {
  @include box-shadow(0 0 12px rgba(0, 0, 0, 0.6));
  @include single-transition(all, .4s, ease);
  filter:blur(14px);
  -webkit-filter:blur(14px);
}
