.areas {
  background: $pa_dk_blue url('../images/bg-topo-sm.png') center center fixed;

  @include gt-sm {
    background: $pa_dk_blue url('../images/bg-topo-sm.png') center center fixed;
  }

  @include gt-md {
    background: $pa_dk_blue url('../images/bg-topo-lg.png') center center fixed;
  }

  @include gt-custom(1540px) {
    background: $pa_dk_blue url('../images/bg-topo-xlg.png') center center fixed;
    background-size: cover;
  }
}

.areas__listing {
  @include container;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 70px 0;
}

.areas__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;

  @include gt-sm {
    width: 50%;
  }

  @include gt-md {
    width: 33.33%;
  }

  @include gt-custom(1000px) {
    width: 25%;
  }

  > .card {
    display: flex;
    width: 100%;
  }

  .card a {
    width: 100%;
    background: $pa_dk_blue;
    border: 1px solid rgba(white, .4);
    border-bottom: 5px solid rgba(white, .4);
    text-decoration: none;
    text-align: center;
    padding: 45px 20px;
  }

  .card a * {
    display: block;
    width: 100%;
  }
}

.areas__item-name {
  color: white;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 12px;
}

.areas__item-rating {
  font-size: 16px;
  line-height: 1;
  font-family: icon;
  color: $pa_pink;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.areas__item-problem-count {
  font-size: 14px;
  line-height: 1;
  color: white;
  margin-bottom: 0;

  &:before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    background: url('../images/icon-problems.png') center center no-repeat;
    background-size: cover;
  }
}
