// layout and mods
.areas__item--single {
  width: 100%;
  padding: 0;

  .areas__item-name {
    font-size: 65px;
    font-weight: 100;
  }
}

.areas__item--single {
  transition: transform 0.2s;
}

// map
.areas__item-map {
  display: none;

  @include gt-sm {
    display: flex;
    flex: 1;
    flex-grow: 1;
    max-height: 100vh;
    background: #CADFAA;
    overflow: hidden;

    iframe {
      height: 100vh;
    }
  }
}

// content
.areas__item-content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: $pa_dk_blue url('../images/bg-topo-sm.png') center right fixed;
  padding: 0 10px;
  padding-top: 50px;

  @include gt-sm {
    width: 450px;
    padding: 0 25px;
    padding-top: 0;
    background: $pa_dk_blue url('../images/bg-topo-md.png') center right fixed;
  }

  @include gt-md {
    width: 600px;
    padding: 0 75px;
    background: $pa_dk_blue url('../images/bg-topo-lg.png') center right fixed;
  }

  @include gt-custom(1550px) {
    background: $pa_dk_blue url('../images/bg-topo-xlg.png') center right fixed;
  }
}

.areas__item-location {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.area__item-about {
  @include gt-sm {
    display: none;
  }

  @include gt-md {
    display: block;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.45;
    color: white;
  }

  a, a:visited, a:hover {
    color: white;
    font-weight: 400;
  }
}

// download buttons
.area__item-assets {
  padding-top: 10px;
  margin-bottom: 50px;

  @include gt-sm {
    margin-bottom: 0;
  }
}

// related spray revealer
.reveal-related-spray {
  display: none;

  @include gt-md {
    display: inline;
  }
}

// GPS data and problem count
.area__item-coordinates {
  position: absolute;
  width: 100%;
  bottom: 20px;
  right: 0;

  @include gt-sm {
    width: 450px;
    padding-top: 0;
  }

  @include gt-md {
    width: 600px;
  }

  > div {
    display: none;

    @include gt-md {
      display: inline;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      color: white;
      padding: 0 15px;

      &:before {
        content: '';
        position: relative;
        top: 3px;
        display: inline-block;
        margin-right: 6px;
        width: 16px;
        height: 16px;
      }

      &.area__item-problem-count:before {
        background: url('../images/icon-problems.png') center center no-repeat;
        background-size: cover;
      }

      &.area__item-gps--parking:before {
        background: url('../images/icon-parking-white.png') center center no-repeat;
        background-size: 16px 16px;
      }

      &.area__item-gps--boulders:before {
        background: url('../images/icon-pin-white.png') center center no-repeat;
        background-size: 13px 16px;
      }
    }
  }
}

// related spray
.spray--listing-related {
  display: none;

  @include gt-md {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100% - 600px);
    background: $background-body;
    transition: opacity 1.75s;
    opacity: 0;
    padding-right: 37px;
    z-index: -99;
  }

  .scrollable {
    overflow-y: scroll;
    height: 80%;
  }
}
