.instagram {
  display: flex;
  flex-flow: row wrap;

  > * {
    width: (100%/2);

    @include gt-sm {
      width: (100%/3);
    }

    @include gt-md {
      width: (100%/6);
    }
  }

  a {
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
  }
}
