.mini-guides {
  padding-top: 100px;

  @include gt-custom(500px) {
    padding-top: 70px;
  }

  .mini-guides__content {
    @include container;
    max-width: 1400px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;

    @include gt-custom(1150px) {
      padding: 0 75px;
    }
  }

  p {
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mini-guides__wrap {
  margin-top: 40px;

  @include gt-sm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 70px;
  }
}

.mini-guide {
  margin-bottom: 65px;
  padding: 0 15px;

  @include gt-custom(600px) {
    margin-bottom: 45px;
  }

  img {
    display: block;
    width: 175px;
    margin: 0 auto 20px;

    @include gt-sm {
      width: 100%;
      margin: 0 auto 25px;
    }
  }

  .img-link {
    position: relative;
    display: block;

    &:hover:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: $pa_dk_blue url(../images/icon-download-pdf.png) no-repeat center center;
      background-size: 40px 44px;
    }
  }

  .img-link:hover + a.btn {
    color: white;
    background: $pa_dk_blue;
    border-color: $pa_dk_blue;
  }

  .btn {
    background: #B3B3B3;
    border-color: #B3B3B3;
    margin: 0 auto;

    &:hover {
      color: white;
      background: $pa_dk_blue;
      border: 2px solid $pa_dk_blue;
    }
  }

  @include gt-custom(500px) {
    flex: 0 0 33.333%;
  }

  @include gt-custom(850px) {
    flex: 0 0 20%;
  }
}

// page link btn
a.btn.mini-guides__link {
  @include border-radius(0);
  display: block;
  color: white;
  width: 100%;
  background: $pa_dk_blue;
  border: 0;
  margin: 0;

  &:hover {
    border: 0;
  }

  .contact-is-visible & {
    display: none;
  }

  @include gt-custom(500px) {
    @include border-radius(4px);
    width: auto;
    display: inline;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background: $pa_pink;
    border: 2px solid $pa_pink;

    &:hover,
    &.active {
      color: white;
      background: $pa_dk_blue;
      border: 2px solid $pa_dk_blue;
    }
  }

  .page-template-mini-guides & {
    display: none;
  }

  .single-areas & {
    top: 50px;
  }
}

a.btn.contribute__link {
  display: none;

  .contact-is-visible & {
    display: none;
  }

  @include gt-custom(500px) {
    @include border-radius(4px);
    width: auto;
    display: block;
    position: fixed;
    top: 10px;
    left: 145px;
    z-index: 9999;
    color: white;
    background: $pa_pink;
    border: 2px solid $pa_pink;
    margin: 0;

    &:hover,
    &.active {
      color: white;
      background: $pa_dk_blue;
      border: 2px solid $pa_dk_blue;
    }
  }

  .page-template-mini-guides & {
    left: 10px;
  }

  .single-areas & {
    top: 50px;
  }
}
