// listing
.page--single {
  padding-top: 70px;

  .page__item {
    margin-bottom: 50px;
  }
}

//single
.page--single {
  padding-bottom: 50px;
}

// global
.page__item .row.visual_editor {
  @include container;
  max-width: 650px;

  .page--single & {
    max-width: 700px;
  }
}

.page__item-title {
  font-size: 42px;
  line-height: 1;
  margin: 0 auto 12px;
  text-align: center;

  .page--single & {
    margin-bottom: 35px;
  }
}
