.popup-trigger {
  position: fixed;
  bottom: -99999px;
  transition: opacity .25s ease-in;

  @include gt-sm {
    opacity: 0;
    position: fixed;
    left: 50%;
    margin-left: -(375px / 2);
    background: white;
    border-radius: 8px;
    padding: 25px 35px 25px (35px + 40px + 20px);
    width: 375px;
    background: white url(../images/icon-book.png) 35px center no-repeat;
    background-size: 40px 43px;
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.2);
    cursor: pointer;

    &.show {
      opacity: 1;
      bottom: 40px + 20px + 20px;
    }

    h3 {
      font-size: 19px;
      line-height: 1.3;
      font-weight: 400;
      margin: 0;
    }
  }
}

.popup-trigger__close {
  @extend %ir;
  position: fixed;
  bottom: -99999px;

  @include gt-sm {
    opacity: 0;
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -(40px / 2);
    display: block;
    width: 40px;
    height: 40px;
    background: white url(../images/icon-popup-close.png) center center no-repeat;
    background-size: 13px 13px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.2);
    cursor: pointer;

    &.show {
      opacity: 1;
      bottom: 20px;
    }
  }
}

.popup__wrap {
  padding: 20px 10px;
}

.popup-text {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 40px;

  &.success {
    margin: 0 auto;
  }
}

.popup-form {
  text-align: center;

  input {
    transition: all ease .2s;
    display: block;
    width: 100%;
    max-width: 350px;
    border: 0;
    color: #1D1D1D;
    border-bottom: 1px solid black;
    padding: 0 0 5px 0;
    margin: 0 auto 35px;

    &:focus {
      outline: 0;
      border-bottom: 2px solid black;
    }
  }

  .button {
    transition: all ease .2s;
    width: 100%;
    max-width: 225px;
    background: none;
    border: 1px solid black;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;

    &:hover {
      background: black;
      color: white;
    }
  }

  ::-webkit-input-placeholder {
    color: #1D1D1D;
  }
  ::-moz-placeholder {
    color: #1D1D1D;
  }
  :-ms-input-placeholder {
    color: #1D1D1D;
  }
  :-moz-placeholder {
    color: #1D1D1D;
  }
}

#mce-success-response {
  margin-bottom: 25px;
}
