$help-bubble-scrollbar: #CDCDCD;

.jspContainer {
  position: relative;
  overflow: hidden;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 5px;
  width: 2px;
  height: 100%;
  background: $help-bubble-scrollbar;
}

.jspTrack {
  position: relative;
  background: $help-bubble-scrollbar;
}

.jspDrag {
  @include border-top-radius(25px);
  @include border-right-radius(25px);
  @include border-bottom-radius(25px);
  @include border-left-radius(25px);
  display: block;
  position: relative;
  top: 10px;
  left: -4px;
  width: 10px;
  background: $help-bubble-scrollbar;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: transparent;
}
