.show-single-post {
  overflow: hidden;

  :after {
    display: none;
  }

  .spray--single {
    display: block;
    background: $background-body;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    overflow-y: scroll;
  }
}

.spray__item-pull .loading {
  display: none !important;
}
