// listing
.spray--listing,
.spray--single {
  padding-top: 70px;

  .spray__item {
    margin-bottom: 50px;
  }
}

//single
.spray--single {
  padding-bottom: 50px;
}

// global
.spray__item {
  @include container;
  max-width: 650px;
  text-align: center;

  .spray--single & {
    max-width: 700px;
  }
}

.spray__item-date {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }
}

.spray__item-date + .spray__item-title{
  padding-top: 8px;
}

.spray__item-title {
  font-size: 42px;
  line-height: 1;
  margin: 0 auto 12px;

  a {
    text-decoration: none;
  }

  .spray--single & {
    margin-bottom: 35px;
  }
}

.spray.spray--latest {
  padding: 50px 0;
}

.spray__item-teaser {
  max-width: 500px;
  margin: 0 auto;
}

#infscr-loading {
  display: none !important;
  opacity: 0 !important;
}

.navi {
  @extend %ir;
  width: 55px;
  height: 55px;
  background: url(../images/revealer.png) no-repeat;
  background-size: 55px 55px;
  margin: 0 auto;
  cursor: pointer;
}
