
// You can add more columns or less columns just adjust the number above in the grid value variables.
%container {
	position: relative;
	width: $width;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 20px;
}

%row { @include row; }

// nested column classes via mixin or extend; you choose.
%firstcol { margin-left: 0 !important; }
%lastcol { margin-right: 0 !important; }

// Base Grid
%col1      { @include col(1); }
%col2      { @include col(2); }
%col3      { @include col(3); }
%col4      { @include col(4); }
%col5      { @include col(5); }
%col6      { @include col(6); }
%col7      { @include col(7); }
%col8      { @include col(8); }
%col9      { @include col(9); }
%col10     { @include col(10); }
%col11     { @include col(11); }
%col12     { @include col(12); }

// grid clearing
%container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

%row:after, %clearfix:after {
	clear: both;
}

%row, %clearfix {
	zoom: 1;
}
