*, *:before, *:after {
	@include box-sizing(border-box);
}

::-moz-selection {
	background: pink;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: pink;
	color: #fff;
	text-shadow: none;
}

html, body {
	height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
	font-family: $paragraph-font-family;
	font-size: $em-base;
	line-height: $body-line-height;
	color: $p-text;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #292d36;
}

.logo {
	@include single-transition(all, .1s, ease, 0);
	transform: translate3d(0,0,0);
	@extend %ir;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -79px * .5;
	display: block;
	z-index: 400;
	width: 79px;
	height: 79px;
	background: url(../images/logo.png) no-repeat;
	@include background-size(79px 79px);
  cursor: pointer;

	@include gt-small {
		bottom: 20px;
		left: 20px;
		margin: 0;
	}
}

div.overlay {
  @include single-transition(opacity, .4s, ease-in-out, 0);
  @include transition-timing-function(cubic-bezier(0.3, 1, 0.5, 1));
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	background: rgba(#292d36, .9);
	z-index: 450;
}

section {
	&::-webkit-scrollbar {
    display: none;
	}

	&.menu,
	&.areas,
	&.area__single--detail,
	&.history,
  &.gossip,
	&.spray,
  &.mini-guides,
	&.fa {
    @include single-transition(opacity, .4s, ease-in-out, 0);
    @include transition-timing-function(cubic-bezier(0.3, 1, 0.5, 1));
    @include transition-delay(.2s);
    transform: translate3d(0,0,0);
		position: absolute;
		top: 0;
		left: 0;
		height: 0px;
		visibility: hidden;
		opacity: 0;
		width: 100%;
		z-index: 500;
		overflow-y: scroll;

		@include lt-med {
			padding: 20px;
		}

		* {
			@include single-transition(all, .2s, ease);
	    @include transition-timing-function(cubic-bezier(0.3, 1, 0.5, 1));
		}
	}

	&.slider {
		@include single-transition(all, .1s, ease, 0);
    @include transition-timing-function(cubic-bezier(0.3, 1, 0.5, 1));
		transform: translate3d(0,0,0);
		position: fixed !important;
	}
}

article, aside {
	position: relative;
	width: 100%;
	padding-top: 50px;

	@include gt-med {
		float: left;
		padding: 40px 50px 30px 0;
	}
}

article {
	@include gt-med {
		float: left;
		width: 67%;
		padding: 40px 7% 0 75px;
	}

  @include gt-custom(1200px) {
    padding-left: 100px;
  }

  @include gt-custom(1450px) {
    padding-left: 150px;
  }

  @include gt-custom(1500px) {
    width: 73%;
  }

  @include gt-custom(1600px) {
    padding-left: 250px;
    max-width: 1300px;
  }
}

aside {
	@include gt-med {
		float: right;
		width: 32%;
    padding: 40px 30px 50px 0;
    overflow-y: auto;
	}

  @include gt-custom(1500px) {
    width: 25%;
  }

  h2, p {
    @include gt-med {
      text-align: right;
    }
  }

  .link-to-guide {
    padding-top: 20px;

    &:first-child {
      padding-top: 40px;
    }
  }
}

// mini guides
.mini-guides .mini-guide-wrapper {
  margin-bottom: 25px;

  @include gt-custom(1100px) {
    display: inline-block;
    width: 50%;
    padding: 0 20px 20px 20px;
    float: left;
  }
}

// flex content rows
.row {
  @include margin-bottom(1.25);
  overflow: hidden;
}


.three_column_content .column,
.two_column_content .column {
  @include margin-bottom(2);

  @include gt-small {
    margin-bottom: 0;
  }
}

// columns
.three_column_content {
  width: 100%;
  overflow: hidden;

  @include gt-small {
    .column {
      float: left;
      width: calc((100% - (#{$container-gutter} * 2)) / 3);

      &.first {
        margin-right: $container-gutter;
      }

      &.last {
        margin-left: $container-gutter;
      }
    }
  }
}

.two_column_content {
  width: 100%;
  overflow: hidden;

  @include gt-small {
    .column {
      float: left;
      width: 50%;

      &.first {
        padding-right: $container-gutter * .5;
      }

      &.last {
        padding-left: $container-gutter * .5;
      }
    }
  }
}

.two_column_content,
.three_column_content {
  img {
    @include margin-bottom(1);
  }
}
