.boxed {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  @include gt-small {
    width: 50%;

    &:nth-child(odd) {
      padding: 0 10px 0 0;
    }

    &:nth-child(even) {
      padding: 0 0 0 10px;
    }
  }

  a {
    display: table;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    margin-bottom: 20px;

    @include gt-small {
      min-height: 155px;
    }

    &:hover {
      background: rgba(white, .9);

      p, h3, h4 {
        color: $bg-body
      }

      .rating {
        color: $brand;
      }
    }
  }

  div.boxed__container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    height: 100%;
  }

  h3 {
    margin-bottom: 7px;
  }

  p {
    margin-bottom: 0;
  }

  .rating {
    font-family: 'icon';
    font-size: 22px;
    line-height: 1;
    color: $brand;
    margin-bottom: 10px;
  }

  .problem-count:before {
    font-family: 'icon';
    font-size: 16px;
    content: '8';
    margin-right: 7px;
  }

  .problem-count:after {
    content: ' Problems'
  }

  .location {
    position: absolute;
    bottom: 5px;
    left: 8px;
    font-size: 12px;
    text-transform: uppercase;
  }
}


// used from problems
.boxed--small {
  @include gt-small {
    width: 33%;

    &:nth-child(3n-2) {
      padding: 0 10px 0 0;
    }

    &:nth-child(3n-1) {
      padding: 0 10px 0 10px;
    }

    &:nth-child(3n) {
      padding: 0 0 0 10px;
    }
  }

  .boxed__container {
    padding: 20px 20px 15px;
  }

  a {
    @include single-transition(background-size, .2s, ease-in);
    background: transparent url('../images/play.png') no-repeat center center;
    @include background-size(0px 0px);

    &:hover {
      background: rgba(white, .9) url('../images/play.png') no-repeat center center;
      @include background-size(70px 70px);

      * {
        opacity: 0;
      }
    }
  }

  p.rating {
    margin-bottom: 0;
  }
}
