section.hero {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

section.hero:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/vig.png) no-repeat;
  background-size: cover;
  z-index: 100;
}
