.latest-spray {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 125px;
  width: 400px;
  height: 80px;
  z-index: 400;
  cursor: pointer;

  @include gt-small {
    display: table;
  }

  .inner {
    display: table-cell;
    vertical-align: middle;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .date, .author {
    font-size: 14px;
    text-transform: uppercase;
  }
}
