body._show-areas._show-problems section._show-problems {
  @include gt-small {
    height: 100vh;
  }
}

.area__single--detail {
  article.area-map {
    display: none;

    @include gt-med {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      padding-left: 0;
      padding-top: 0;
      margin-top: 0;
      height: 100vh;
    }

    iframe {
      height: 100vh;
    }
  }
}
