.menu__trigger {
  @extend %ir;
  position: absolute;
  z-index: 600;
  top: 20px;
  right: 30px;
  cursor: pointer;

  &:before {
    display: block;
    content: '+';
    width: 50px;
    height: 50px;
    font-family: 'Raleway';
    font-size: 70px;
    font-weight: 100;
    color: white;
    text-align: center;
    padding-top: 24px;
    border: 1px solid white;

    ._blur-bg._show-menu & {
      content: '-';
      background: none;
      font-size: 70px;
      font-weight: 100;
      padding-top: 19px;
    }

    ._blur-bg & {
      content: '';
      background: url(../images/menu-back.png) no-repeat center center;
      @include background-size(14px 27px);
      font-weight: 300;
      font-size: 35px;
      padding-top: 22px;
    }
  }
}

section.menu {
  padding: 130px 30px 0 30px;

  li {
    @include single-transition(all, linear);
    @include transform(translateY(-300%));
    @include transition-duration(.5s);
    @include transition-delay(.3s);
    @include transition-timing-function(cubic-bezier(0.3, 1, 0.5, 1));
    opacity: 0;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

    @include gt-small {
      text-align: right;
      margin-bottom: 10px;
    }

    ._show-menu & {
      @include transform(translateY(0px));
      opacity: 1;
    }
  }

  * {
    font-size: 45px;
    line-height: 1;
    font-weight: 200;
    cursor: pointer;

    @include gt-small {
      font-size: 88px;
      font-weight: 100;
    }
  }
}
