.slides__caption {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 100%;
  text-align: center;

  @include gt-small {
    width: auto;
    right: 35px;
    text-align: right;
  }

  h4, p {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 800;
  }

  p {
    font-weight: 500;
  }
}

.slides-navigation {
  a.next,
  a.prev {
    @extend %ir;
    display: block;
    width: 30px;
    height: 56px;
  }

  a.next {
    background: url(../images/slider-next.png) no-repeat;
    @include background-size(30px 56px);
  }

  a.prev {
    background: url(../images/slider-previous.png) no-repeat;
    @include background-size(30px 56px);
  }
}
