section.spray {
  .spray__item {
    @include margin-bottom(5);

    @include gt-med {
      min-height: 100vh;

      &:last-child {
        min-height: 0;
      }
    }
  }

  h3 {
    font-weight: 400;
    @include margin-bottom(.75);

    @include gt-med {
      padding-right: 50px;
    }
  }

  .date, .author {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .date {
    margin-right: 15px;
  }
}

#infscr-loading {
  margin-bottom: 50px;
}

.navi {
  display: block !important;
  margin-bottom: 60px;

  a {
    @extend .btn;
  }
}
