.video-controls {
  @extend %ir;
  position: absolute;
  bottom: 20px;
  right: 35px;
  width: 30px;
  height: 30px;
  z-index: 400;
  cursor: pointer;

  &.playing {
    background: url(../images/button-play.png) no-repeat;
    @include background-size(30px 30px);
  }

  &.paused {
    background: url(../images/button-pause.png) no-repeat;
    @include background-size(30px 30px);
  }
}
