.reveal-contact, .reveal-contact-close {
  position: fixed;
  bottom: 0px;
  right: 0;
  display: block;
  width: 65px;
  height: 65px;
  @extend %ir;
  background: $body-stripe url(../images/icon-contact.png) no-repeat center center;
  background-size: 30px 28px;

  &:focus {
    outline: 0;
  }

  .contact-is-visible & {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: auto;
    background-color: none;
    border: 1px solid white;
    background: $body-stripe url(../images/icon-contact-close.png) no-repeat center center;
    background-size: 20px 20px;
    z-index: 9999;
  }
}

.reveal-contact-close {
  display: none;

  .contact-is-visible & {
    display: block;
    z-index: 9998;
  }
}

footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: $body-stripe url('../images/bg-topo-sm.png') center center fixed;

  @include gt-sm {
    background: $body-stripe url('../images/bg-topo-sm.png') center center fixed;
  }

  @include gt-md {
    background: $body-stripe url('../images/bg-topo-lg.png') center center fixed;
  }

  @include gt-custom(1540px) {
    background: $body-stripe url('../images/bg-topo-xlg.png') center center fixed;
    background-size: cover;
  }

  .contact-is-visible & {
    height: auto;
    min-height: 100vh;
    padding: 70px 0;
  }

  .footer__inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
