body:after {
  position: fixed;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background: $body-stripe;
}

// used in flexible layouts
.row {
  @include margin-bottom(1);

  @include gt-sm {
    @include margin-bottom(2);
  }
}

.three_column_content .column,
.two_column_content .column {
  @include margin-bottom(2);

  @include gt-sm {
    margin-bottom: 0;
  }
}

// columns
.three_column_content {
  width: 100%;
  overflow: hidden;

  @include gt-sm {
    .column {
      float: left;
      width: calc((100% - (#{$container-gutter} * 2)) / 3);

      &.first {
        margin-right: $container-gutter;
      }

      &.last {
        margin-left: $container-gutter;
      }
    }
  }
}

.two_column_content {
  width: 100%;
  overflow: hidden;

  @include gt-sm {
    .column {
      float: left;
      width: 50%;

      &.first {
        padding-right: $container-gutter * .5;
      }

      &.last {
        padding-left: $container-gutter * .5;
      }
    }
  }
}

.two_column_content,
.three_column_content {
  img {
    @include margin-bottom(1);
  }
}
