@mixin margin-bottom($multiplier) {
  margin-bottom: $margin-bottom * $multiplier;
}

@mixin fade-transitions-single($element) {
  .#{$element} {
    @include single-transition(opacity, .4s, ease-in-out, 0);
    opacity: 1;
  }

  &._animate.#{$element} {
    opacity: 0;
  }
}
