$valid: none;
$invalid: #f0dddd; // red

$input-placeholder: #c2c2c2;
$input-bg: white;
$input-border: 1px solid #c2c2c2;
$input-color: white;
$input-font-size: 14px;

$form-max-width: 700px;
$input-max-width: 400px;

$inline-label-color: #343434;
$radio-check-active: #a1a1a1;
