// Grid Values you can go either fluid (%) or fixed (px/em/ex/rem etc.)
$width: 100%;
$max-width: 1140px;
$columns: 12; // If you add/remove columns adjust base grid classes
$col_margin: 4%;
$col_margin-right: 2%;
$col_margin-left: 2%;

// media queries
$mq-small : 650px !default;
$mq-med : 950px !default;