$paragraph-font-family: 'Raleway', sans-serif;
$sub-headline-font-family: 'Raleway', sans-serif;
$headline-font-family: 'Raleway', sans-serif;

$em-base: 18px !default;
$body-line-height: 1.6;

$h1-size: 42px;
$h2-size: 88px;
$h3-size: 38px * .75;
$h4-size: 24px;
$h5-size: 22px;
$h6-size: 16px;

$h1-text: white;
$h2-text: white;
$h3-text: white;
$h4-text: white;
$h5-text: white;
$h6-text: white;

$h1-link: white;
$h2-link: white;
$h3-link: white;
$h4-link: white;
$h5-link: white;
$h6-link: white;

$h1-link-hover: white;
$h2-link-hover: white;
$h3-link-hover: white;
$h4-link-hover: white;
$h5-link-hover: white;
$h6-link-hover: white;

$p-text: white;
$p-size: $em-base;

$margin-bottom: 25px;
$image-float-margin: 20px;

$link: white;
$link-hover: white;

$rule: white;

$figcaption-size: 13px;
$figcaption-color: white;
